
.aboutme-style {
    
 
}


.aboutme-style > p {
    /* width: 700px; */
    font-size: 1rem;
    margin-top: 50px;
}


.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}

.soft-skills {
    margin-top: -190px;
}

.awards, .certs {
    margin-top: 40px;
}

.feat-projects{
    margin-top: -200px;
}

.cursive-text-heading{
    font-family: cursive;
}