*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;

}


body{
    overflow: auto;
    background-color: black;
}

/*==============================*/
nav li {
    display: inline;
    margin: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-weight: bolder;
    color: rgba(216,164,80);
}

nav{
    border-bottom: solid grey 1px;
    padding-top: 1.5rem;
    padding-bottom: 15px;
    margin-bottom: 90px;
    text-align: center;
}

/*===== portfolio LOGO image thru nav ============*/

.logo{
    height: 250px;
    width: auto;
    margin-bottom: -10%;
    /* border: 2px green solid; */
    background-color: black;
    border-radius: 30%;
}

/*==========================================================*/

a:visited {
    color: rgba(216,164,80);
    text-decoration: underline;
}

a{
    text-decoration: none;
}

nav li + li{
    margin-left: 9%;
}

main > img{
    display: block;
    height: 350px;
    width: auto;
    margin: auto;
    border-radius: 10%;
    padding: 10px;
}

main > p {
    color: white;
    font-size: 1.2rem;
    font-family: cursive;
    font-weight: bolder;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: inset;
}


.aboutme-paragraphs{
    color: white;
}



main {
    border-bottom: solid rgb(235, 232, 232) 1px;
    height: 700px;
    margin: 200px 0 5px 0;
}

h2{
    text-align: center;
    /* color: rgb(173, 97, 244); */
    color: rgba(216,164,80);
    font-weight: bolder;
    margin-bottom: 4rem;;
}

/* PROJECT sections */

.projects{
    padding: 15%;
    /* border-bottom: solid rgb(235, 232, 232) 1px; */
    /* background-color: rgb(246, 246, 253); */
    margin-top: 5px;
}

.projects img{
    width: 250px;
    height: auto;
    border-radius: 5%;
    box-shadow: 3px 3px lightblue, -1em 0 .4em grey;
    
}

.projects h2{
    font-size: 3rem;
    padding 1rem;
    text-decoration: underline;
    text-shadow: 2px 4px 4px rgba(216,164,80);
    font-family: cursive;
    color: white;
    margin-bottom: 4rem;
}

.projects p + p{
    color: rgba(216,164,80);
    font-size: .8rem;
    margin-top: -9px;
    font-family: arial;
    margin-left: 20px;
}

.projects p{
    font-size: 1rem;
    color: white;
    border: solid green 1px;
    padding: 5px;
}

.projects{
    /* border-bottom: solid rgb(235, 232, 232) 1px; */
    padding-bottom: 8%;
    margin-top: -170px;
}


/* ---FLEX CONTAINER FOR PRODUCT PHOTOS--- */

.project-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* -------------STACK SECTION---------------- */
.stack{
    margin-top: 30px;
    padding: 7%;
    padding-bottom: 8%;
    border-top: solid rgb(235, 232, 232) 1px;
}

.stack > h2{
    text-decoration: underline;
}

.stack > h3 {
    text-align: center;
    margin-top: -1%;
    margin-bottom: 2%;
}



/* ---FLEX CONTAINER FOR Employee PHOTOS--- */

.stack-container{
    display: flex;
    justify-items: flex-start;
    justify-content: space-evenly;
    flex-wrap:wrap;
    height: 500px;
    justify-items: space-between;
    margin: 0 200px;

    margin-bottom: -120px;


}

.stack-container img{
    height: 120px;
    width: auto;
    /* box-shadow: 3px 3px lightblue, -1em 0 .9em grey; */
    border-radius: 5%;
}


/*  busy- bee BEE PHOTO */
.stack> img {
    height: 50px;
    position: absolute; 
    left: 30%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.stack p + p{
    color: rgba(216,164,80);
    font-size: .65rem;
    margin-top: -9px;
}

.stack p{
    font-size: .8rem;
    color: white;
    padding: 7px;
    margin-left: 20%;
}



/*=====FOOTER=========*/

footer{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
    text-align: center;
    height: 2.5rem;
    padding: 1rem;
    color: white;
    width: 100%;
}

.bottom-footer{
    color: white;
}

.projects p {
    font-family: cursive;
    margin-left: 15px;
    color: white;
    padding: 5px;
}


.products p{
    color: white;
    margin: 1rem;
    color: yellow;
}






/*STYLES*/


.intro-container{
    display: flex;
    justify-content: space-evenly;
    

}

.intro-container img{
    width: 300px;
    height: auto;
    border-radius: 10%;
    /* box-shadow: 3px 3px lightblue, -1em 0 .4em grey; */
}

.intro-container .box-2 img{
    width: 300px;
    height: auto;
    border-radius: 10%;
    box-shadow: 2px 1px darkslategrey, -1em 0 .4em grey;
}

.intro {
    margin-bottom: 20px;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* change to 100 to take up whole screen*/
    background: url('/css/assets/galaxy-earth-background.jpg') no-repeat center/cover;
    background-position: center 400px;
    background-size: cover;
    animation: animateBg 80s linear infinite; /* s is the speed of the animation */
    z-index: -1; /* Sends background behind all content */
}

@keyframes animateBg 
{
    0%,100% 
    {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}


span
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
    0 0 0 8px rgba(255,255,255,0.1),
    0 0 20px rgba(255,255,255,1);
    animation: animate 3s linear infinite;
}

span::before
{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff, transparent);
}

@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

/*===================ANIMATION STARS FALLING ===============*/

span:nth-child(1){
    top: 0;
    right: 0;
    left: initial
    animation-delay: 0;
    animation-duration: 1s;
}

span:nth-child(2){
    top: 0;
    right: 80;
    left: initial;
    animation-delay: -0.2s;
    animation-duration: 3s;
}

span:nth-child(3){
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

span:nth-child(4){
    top: 0px;
    right:180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

/*=================== Too many Stars?? ================*/

span:nth-child(5){
    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

span:nth-child(6){
    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}


span:nth-child(7){
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

span:nth-child(8){
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

span:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

span:nth-child(10){
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}



/* Class that will be added by JavaScript to hide the stars */
.stopped {
    opacity: 0; /* Make stars disappear */
    animation-play-state: paused; /* Stop the animation */
}


/* hide the rest of the stars  */


.hidden {
    opacity: 0;
    pointer-events: none; /* Optional: prevents any interaction with the hidden stars */
}



/*MEDIA QUERIES*/

/*Media Queries/Device Responsiveness*/

@media only screen and (min-width: 480px) (orientation: portrait){
    footer{
        margin-top: 100px;
    }
    
}
/* 
incorrect media queries for now, will return to fix */